html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: min(100%, 900px);
  margin: 5rem auto;
}

.diagram-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.diagram-outer {
  width: 900px;
  margin-top: 3rem;
  border-top: 1rem solid hsla(230, 95%, 53%, 0.222);
  padding-bottom: .1rem;
}

.diagram-inner {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  width: 80%;
  height: 100px;
  margin: 0 auto 100px;
  border-bottom: .4rem solid hsla(225, 100%, 50%, 0.66);
  border-left: .4rem solid hsla(225, 100%, 50%, 0.66);
  border-right: .4rem solid hsla(225, 100%, 50%, 0.66);
  border-radius: 0 0 100px 100px;
}

div[class*="diagram-node"] {
  display: flex;
  align-items: center;
}

.diagram-node--big {
/* Display & Box Model */
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: .4rem solid hsla(225, 100%, 50%, 0.66);

  /* Other */
  font-size: 2.5rem;
  background-color: white;
}

[class^="diagram-node"] {
  cursor: pointer;
}

.diagram-node {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  justify-content: space-around;
  width: 15%;
  height: 50px;

  /* Other */
  font-size: 1.5rem;
}

.diagram-node > i {
  position: absolute;
}

.diagram-node > i:first-child {
  top: 0;
  left: -5px;
}

.diagram-node > i:nth-child(2) {
  top: 0;
  right: -5px;
}

.diagram-node > i:nth-child(3) {
  bottom: -5px;
}

.node--tiny {
  /* Display & Box Model */
  width: 15px;
  height: 15px;
  border: 3px solid hsla(225, 100%, 50%, 0.66);
  border-radius: 50%;

  /* Other */
  background-color: white;
}

.diagram-inner > div {
  position: absolute;
}

.diagram-inner > div:first-child {
  top: -30px;
  left: -25px;
}

.diagram-inner > div:nth-child(2) {
  bottom: -26px;
  left: 15%;
}

.diagram-inner > div:nth-child(3) {
  bottom: -25px;
  left: 40%;
}

.diagram-inner > div:nth-child(4) {
  bottom: -26px;
  right: 30%;
}

.diagram-inner > div:nth-child(5) {
  bottom: -25px;
  left: 80%;
}

.diagram-inner > div:last-child {
  top: -30px;
  right: -25px;
}

.fas {
  color: hsla(225, 100%, 50%, 0.66);
}

.active {
  background-color: hsl(300, 100%, 25%);
  border: none;
}

.active i {
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

[class*="arrow"] > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-top: 10rem;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 0%, 0.106);
  font-size: 3rem;
}

[class*="arrow"] > div:hover {
  cursor: pointer;
}

[class*="arrow"] > div:active {
  border: 1px solid hsla(225, 100%, 50%, 0.66);
}

.disabled i {
  color:hsla(0, 0%, 80%, 0.9);
}

.disabled > div:active {
  border: 1px solid hsla(0, 0%, 0%, 0.106);
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  user-select: none;
}

.gallery-content {
  margin: 0 6rem;
  flex: 1 1 50%;
}

.gallery-content > article {
  display: none;
}

article.article-visible {
  display: block;
}

h1,
h2,
p {
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.756);
}

p {
  line-height: 1.7;
}

h2 {
  font-size: 2.2rem;
  margin-top: 3rem;
}

code {
  background-color: hsla(0, 0%, 93%, 0.325);
  border: 1px solid hsla(0, 0%, 50%, 0.243);
  border-radius: 3px;
  padding: 0 3px;
  white-space: nowrap;
}

/********************
 * Utility Classes ||
 *******************/
.debugging {
  outline: 1px solid hsl(0, 100%, 50%);
}

/********************
 * Media Queries ||
 *******************/
@media only screen and (max-width: 916px) {
  .container {
    padding: 0 1.5rem;
  }

  .gallery-content {
    order: -1;
    flex: 1 1 100%;
    margin: 0;
  }

  .gallery-right-arrow {
    margin-left: auto;
  }

  [class*="arrow"] > div {
    margin-top: 0;
  }
}