html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: min(100%, 800px);
  overflow-x: auto;
  margin: 5rem auto;
}

.diagram-outer {
  width: 800px;
  margin-top: 3rem;
  border-top: 1rem solid rgba(20, 58, 249, 0.222);
  padding-bottom: .1rem;
}

.diagram-inner {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  width: 80%;
  height: 100px;
  margin: 0 auto 100px;
  border-bottom: .4rem solid rgba(0, 64, 255, 0.66);
  border-left: .4rem solid rgba(0, 64, 255, 0.66);
  border-right: .4rem solid rgba(0, 64, 255, 0.66);
  border-radius: 0 0 100px 100px;
}

.diagram-node--big {
/* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: .4rem solid rgba(0, 64, 255, 0.66);

  /* Other */
  font-size: 2.5rem;
  background-color: white;
}

.diagram-node {
  width: 15%;
  height: 50px;
}

.diagram-inner > div:first-child {
  position: absolute;
  top: -30px;
  left: -25px;
}

.diagram-inner > div:nth-child(2) {
  position: absolute;
  bottom: -25px;
  left: 15%;
}

.diagram-inner > div:nth-child(3) {
  position: absolute;
  bottom: -25px;
  left: 40%;
}

.diagram-inner > div:nth-child(4) {
  position: absolute;
  bottom: -25px;
  right: 30%;
}

.diagram-inner > div:nth-child(5) {
  position: absolute;
  bottom: -25px;
  left: 80%;
}

.diagram-inner > div:last-child {
  position: absolute;
  top: -30px;
  right: -25px;
}

.fas {
  color: rgba(0, 64, 255, 0.66);
}

/* Utility Classes */
.debugging {
  outline: 1px solid red;
}